@model Project1WebApp.Models.OrderWeb

@{
    ViewData["Title"] = "OrderCreate";
}

<h2>OrderCreate</h2>

<h4>OrderWeb</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="OrderCreate">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="locationID" class="control-label"></label>
                <input asp-for="locationID" class="form-control" />
                <span asp-validation-for="locationID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="username" class="control-label"></label>
                <input asp-for="username" class="form-control" />
                <span asp-validation-for="username" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ordertime" class="control-label"></label>
                <input asp-for="ordertime" class="form-control" />
                <span asp-validation-for="ordertime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="cheesepizza" class="control-label"></label>
                <input asp-for="cheesepizza" class="form-control" />
                <span asp-validation-for="cheesepizza" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="pepperonipizza" class="control-label"></label>
                <input asp-for="pepperonipizza" class="form-control" />
                <span asp-validation-for="pepperonipizza" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="sausagepizza" class="control-label"></label>
                <input asp-for="sausagepizza" class="form-control" />
                <span asp-validation-for="sausagepizza" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="currentprice" class="control-label"></label>
                <input asp-for="currentprice" class="form-control" />
                <span asp-validation-for="currentprice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="orderID" class="control-label"></label>
                <input asp-for="orderID" class="form-control" />
                <span asp-validation-for="orderID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

