
@{
   //ViewData["Title"] = "Usersearchpage";
}

<h2>Usersearchpage</h2>

<p>Search Username</p>


<form asp-controller="User" asp-action="Usersearchpage" method="post">
   
        <input type="text" name="myTextBox" />


        <input type="submit" value="Search" />
</form>


